---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";
import KPICard from "@/components/KPICard.astro";

const posts = (await getCollection("posts")).sort(function (first, second) {
	return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
	<main class="flex flex-col gap-20">
		<article
			class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
		>
			{
				presentation.profile && (
					<Image
						src={presentation.profile}
						class="w-1/4 self-center rounded-full"
						alt="Your Profile"
						width="200"
						height="200"
					/>
				)
			}

			<div class="flex flex-col gap-8">
				<h1 class="text-3xl text-neutral-100">
					{presentation.title}
				</h1>

				<!-- 
        original
        <h2
          class="w-auto  leading-6"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        >        
-->

				<h2 class="w-auto leading-6">
					Cuando estaba investigando en internet sobre lo que sería estudiar
					Ciencias Computacionales (la carrera del futuro) en la mejor
					universidad privada de México, antes de tomar la decisión más
					importante de mi vida me hubiera gustado poder escuchar o leer sobre
					lo que realmente es la carrera con testimonios de sus estudiantes.
					Todo con el objetivo de saber si realmente este es mi camino a seguir
					profesionalmente (ya graduado puedo decir que sí lo fue).
					<br />
					<br />
					Esta página contiene relatos de estudiantes egresados de la carrera de
					Ing. en Tecnologías Computacionales. El objetivo es que TU, la persona
					visitando esta página, llegues a tus propias conclusiones sobre lo que
					es estudiar esta carrera en la mejor universidad del país y conozcas la
					historia de personas que ya han recorrido un camino que tu estás por recorrer.
				</h2>

				<SocialLinks />
			</div>
		</article>

		<article class="flex flex-col gap-8">
			<header>
				<h3 class="text-lg text-neutral-100">Métricas</h3>
			</header>
			<section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
				<KPICard
					title="Posts subidos"
					metric={2}
					description="This is awesome"
				/>
				<KPICard
					title="Personas que encontraron esto útil"
					metric={4}
					description="This is awesome"
				/>
			</section>
		</article>

		<article class="flex flex-col gap-8">
			<header class="flex w-full flex-row justify-between gap-2">
				<h3 class="text-lg text-neutral-100">Posts recientes</h3>
				<Link href="/posts" label="Ver todos" isUnderline target="_self" />
			</header>
			{posts.length === 0 && <p>Soon, stay connected 👀...</p>}

			<section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
				{
					posts.length !== 0 &&
						posts
							.slice(0, 2)
							.map((post) => (
								<PostCard
									publishedAt={post.data.publishedAt}
									title={post.data.title}
									description={post.data.description}
									slug={post.slug}
								/>
							))
				}
			</section>
		</article>

		<article class="flex flex-col gap-8">
			<header class="flex w-full flex-row justify-between gap-2">
				<h3 class="text-lg text-neutral-100">
					Destacados ({projects.length})
				</h3>
			</header>
			{projects.length === 0 && <p>Oops, I must work^^^^^</p>}

			<section class="flex flex-col gap-4">
				{
					projects.length !== 0 &&
						projects.map((project) => <ProjectCard {...project} />)
				}
			</section>
		</article>

		<article class="flex flex-col gap-8">
			<header class="flex w-full flex-row justify-between gap-2">
				<h3 class="text-lg text-neutral-100">Get in touch</h3>
			</header>
			<p>
				Email me at <Link
					href={`mailto:${presentation.mail}`}
					label={presentation.mail}
				/> or follow me via my social links.
			</p>

			<SocialLinks />
		</article>
	</main>
</Layout>
